* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;

}

.PlayStation {
    width: 50vw;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.758);
    background-image: url(imagenes-muestra/PlayStation5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;

}

.Xbox {
    width: 50vw;
    height: 100vh;
    background-color: black;
    background-image: url(imagenes-muestra/xbox2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

.Xbox:hover {
    opacity: 0.7;
    width: 150vw;
    transition-duration: 1500ms;
}

.PlayStation:hover {
    opacity: 0.7;
    width: 130vw;
    transition-duration: 1500ms;
}

.buyPS,
.buyXbox {
    padding: 50px 40px;
    font-size: 30px;
    background-color: transparent;
    font-family: geneva;
    font-weight: 700;
    border: 8px solid transparent;
    border-color: white;
    color: white;
}

.buyPS {
    background-color: rgba(35, 35, 174, 0.137);
}

.buyPS:hover {
    background-color: rgba(0, 0, 255, 0.838);
    border: 3px;
    border-color: blue;
}

.buyXbox:hover {
    background-color: green;
    border: 5px;
}